<%= form_for(@unir) do |f| %>
  <% if @unir.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unir.errors.count, "error") %> prohibited this unir from being saved:</h2>

      <ul>
      <% @unir.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :grupo_id %><br>
    <%= f.text_field :grupo_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
