<p id="notice"><%= notice %></p>

<p>
  <strong>Grupo:</strong>
  <%= @unir.grupo_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @unir.user_id %>
</p>

<%= link_to 'Edit', edit_unir_path(@unir) %> |
<%= link_to 'Back', unirs_path %>
