<p id="notice"><%= notice %></p>

<h1>Listing Respuesta</h1>

<table>
  <thead>
    <tr>
      <th>Respuesta</th>
      <th>Comentario</th>
      <th>User</th>
      <th>Grupo</th>
      <th>Registro</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @respuesta.each do |respuestum| %>
      <tr>
        <td><%= respuestum.respuesta %></td>
        <td><%= respuestum.comentario_id %></td>
        <td><%= respuestum.user_id %></td>
        <td><%= respuestum.grupo_id %></td>
        <td><%= respuestum.registro_id %></td>
        <td><%= link_to 'Show', respuestum %></td>
        <td><%= link_to 'Edit', edit_respuestum_path(respuestum) %></td>
        <td><%= link_to 'Destroy', respuestum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Respuestum', new_respuestum_path %>
