<p id="notice"><%= notice %></p>

<p>
  <strong>Comentario:</strong>
  <%= @comentario.comentario %>
</p>

<p>
  <strong>User:</strong>
  <%= @comentario.user_id %>
</p>

<p>
  <strong>Grupo:</strong>
  <%= @comentario.grupo_id %>
</p>

<p>
  <strong>Registro:</strong>
  <%= @comentario.registro_id %>
</p>

<%= link_to 'Edit', edit_comentario_path(@comentario) %> |
<%= link_to 'Back', comentarios_path %>
