<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<style>
body {
    background-color: #2F223D;
}

#loginbox {
    margin-top: 30px;
}

#loginbox > div:first-child {        
    padding-bottom: 10px;    
}

.iconmelon {
    display: block;
    margin: auto;
}

#form > div {
    margin-bottom: 25px;
}

#form > div:last-child {
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel {    
    background-color: transparent;
    color: black;

}

.panel-body {
    padding-top: 30px;
    background-color: white;
    border-radius: 5px;

}

#particles {
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;                        
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -2;
}

.iconmelon,
.im {
  position: relative;
  width: 150px;
  height: 150px;
  display: block;
  fill: #525151;
}

.iconmelon:after,
.im:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.panel-title,.text-center{
  font-size: 40px;
  color: white;


}

.panel,.panel-default{
  border: none;
}
#correo{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a{
  text-decoration: none!important;
}
.nuevo{
  color:hsl(194, 67%, 49%)!important;
}

/* ----------- Non-Retina Screens ----------- */
@media screen and (max-width: 1201px){
  .panel-title {
    margin-top: -3%!important;
}
}


/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) { 

 
}

/* -----------  NEXUS 6P ----------- */
/* Portrait */
@media screen and (max-width: 679px){
  .panel-title {
    margin-top: -2%!important;
   
}
}
/* Landscape */
@media screen and (max-width: 681px){
  .panel-title {
    margin-top: -38%!important;
   
}
}
/* -----------  Galaxy S5 ----------- */
/* Landscape */
@media screen and (max-width: 679px){
  .panel-title {
    margin-top: -30%!important;
   
}
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
 
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
.panel-title {
    margin-top: -27%;
   
}

}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
.panel-title {
    margin-top: -37%!important;
   
}
}


/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) { 

}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) { 
.panel-title {
    margin-top: -27%;
   
}
  
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) { 
 
}

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) { 

  

  
}


/* Landscape */
@media only screen and (min-device-width: 680px) and (max-device-width: 959px)  { 
  .panel-title {
    margin-top: -20%!important;
   
}
}

/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {

.panel-title {
    margin-top: 40%;   
}
.panel-body {
    width: 500px;
    margin-left:-23%; 
    font-size: 20px;
}

}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
  #normal{
    display: none;
  }
  #smart{
    margin-left: 900px;
    font-size: 25px;
    width: 20%;
    height: 10%;
    margin-top: -5%;
  }
}

/* Portrait */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
h1{
    margin-top: 45%;
    font-size: 25px!important;
    font-weight: 700;
    text-transform: uppercase;
    color: hsl(0, 0%, 100%)!important;
    line-height: 1.1;
    text-rendering: optimizelegibility;
    text-align: center;
    display: block;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
    
}


.btn,.btn-primary,.btn-icon{
  color: white!important;
}




</style>
<div class="container">    
        
    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3"> 
        
        <div class="row">                
            <div class="iconmelon">
             
            </div>
        </div>
        
        <div class="panel panel-default" >
            <div class="">
                <a href="/"><div class="panel-title text-center">Bikina</div></a>
            </div>     

            <div class="panel-body" >
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="field">
                  <%= f.label "Ingresa tu correo electronico" %><br />
                  <%= f.email_field :email, autofocus: true, :class => 'form-control' ,:placeholder => "example@empresa.com", :id=>"correo", :required => true%>
                </div>

                <div class="field">
                  <%= f.label "Contraseña"%><br />
                  <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
                </div>

                <div class="actions">
                  <%= f.submit "Entrar" ,:class=>"btn btn-info" %>
                  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                    <%= link_to "¿Eres nuevo en bikina?", new_registration_path(resource_name),:class=>"nuevo" %><br />
                  <% end -%>
                 
                </div>


              <% end %>
              <%- if devise_mapping.omniauthable? %>
                <%- resource_class.omniauth_providers.each do |provider| %>
                  <%= link_to "Inicia sesión con #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) , :class => "btn btn-primary btn-icon" %>
                  
                 
                <% end -%>
              <% end -%>


               

            </div>                     
        </div>  
    </div>
</div>
