<%= form_for(@foto) do |f| %>
  <% if @foto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@foto.errors.count, "error") %> prohibited this foto from being saved:</h2>

      <ul>
      <% @foto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label I18n.t('form_foto_dg') %><br>
    <%= f.hidden_field :photo %>
    <%= f.file_field :photo,:class => 'form-control ' %>
    <%= f.hidden_field :remote_photo_url %>         
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :grupo_id %><br>
    <%= f.text_field :grupo_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
