<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
   <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <title>Directorio Vecinal</title>
    <meta name="description" content="Morphing Buttons Concept: Inspiration for revealing content by morphing the action element" />
    <meta name="keywords" content="expanding button, morph, modal, fullscreen, transition, ui" />
    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Nunito:400,300,700" rel="stylesheet" id="fontFamilySrc" />
    <link href="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447734615/jquery-ui.min.css" rel="stylesheet" />
    <link href="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447734729/bootstrap.min.css" rel="stylesheet" />
    <link href="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447735152/animate.min.css" rel="stylesheet" />
    <link href="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447735249/style.min.css" rel="stylesheet" />
  <!-- ================== END BASE CSS STYLE ================== -->
  
  <!-- ================== BEGIN PAGE LEVEL CSS STYLE ================== -->
    <link href="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447735472/jquery.gritter.css" rel="stylesheet" />    
  <!-- ================== END PAGE LEVEL CSS STYLE ================== -->
    
    <!-- common styles -->
    <link rel="stylesheet" type="text/css" href="http://res.cloudinary.com/dnubgpeun/raw/upload/v1461709940/css/dialog.css" />
    <!-- individual effect -->
    <link rel="stylesheet" type="text/css" href="http://res.cloudinary.com/dnubgpeun/raw/upload/v1461709940/css/dialog-cathy.css" />
    <script src="http://res.cloudinary.com/dnubgpeun/raw/upload/v1461709980/js/modernizr.custom.js"></script>
  </head>
<style type="text/css">
    body{
      background-color: white!important;
      color: #cccccc;
    }
    button.trigger {
    background: hsl(359, 53%, 55%);
    color: hsl(0, 0%, 100%);
    border: none;
    }

    button {
    padding: 1em 2em;
    outline: none;
    font-weight: 600;
    border: none;
    color: hsl(0, 0%, 100%);
    background: hsl(359, 53%, 55%);
}

.dialog h2 {
    margin: 0;
    font-weight: 400;
    font-size: 2em;
    padding: 0 0 .5em; 
    margin: 0;
}

input[type=submit] {
    padding: 1em 2em;
    outline: none;
    font-weight: 600;
    border: none;
    color: hsl(0, 0%, 100%);
    background: hsl(359, 53%, 55%);
}

input[type=text] {
    padding: 1em 2em;
    outline: none;
    font-weight: 600;
    border: none;
    color: hsl(0, 0%, 100%);
    background: hsl(359, 53%, 55%);
}
th, td{
  color: black;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
button.trigger {
    background: hsl(359, 53%, 55%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 6px;
    margin: 5px;
}

.page-header-fixed {
    padding-top: 0px;
}
    .visible{
        display: none;
    }
    a.font{
      font-size: 16px;
    }
    .font{
      font-size: 16px;
    }
    .verde{
      color: #00A896;
    }
    .subtitle{
        /* Good: */
        font-family: .AppleSystemUIFont;
        font-size: 18px;
        line-height: 24px;
    }
    .panel.panel-success .panel-heading{
        margin-top: 10px;
    }
    .empresa{
        font-family: .AppleSystemUIFont;
    }
    .btn.btn-warning{
        margin-bottom: 10px;
    }
    .circle-red{
        color: hsl(2, 85%, 61%);
    }
    .circle-green{
        color: hsl(126, 45%, 58%);
    }
    .circle-yellow{
        color: hsl(35, 97%, 62%);
    }
    #flotante{  /*padre*/
    
    width: 100%; 
    height: 100%;
    }
    #flotante .A{  /*hijos*/
    display: inline-block;
    margin-left: 20px;
    }
     #flotante .B{
    display: inline-block;
    margin-left: 20px;
    margin-top: 0px!important;
     }
    #flotante .c{
    display: inline-block;
    margin-left: 50px;
   
     }
     #flotante .d{
    display: inline-block;
    margin-left: 50px;
   
     }
     #flotante .e{
    display: inline-block;
    margin-left: 50px;
   
     }
    .oculto{
      display: none;
    }
    .mostrar{
    font-size: 21px;
    font-weight: bold;
    }
 
    strong {
    font-family: Nunito,sans-serif;
    margin-left: 15px;
    font-weight: 100;
    cursor:pointer;
    }
    
    .sidebar .sub-menu{
      background-color: #2F223D;
    }
    .sidebar{
     background-color: #2F223D;
    }

    .blanco{
      color: #E8E8ED!important;
      text-overflow:ellipsis!important;
      white-space:nowrap; 
      overflow:hidden; 

    }
    a.blanco{
      text-decoration: none;
      background: transparent;
    }
    #search{
      margin-top: 5%;
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 5%;
      width: 90%;
      color: #36213E;
      background:hsl(210, 5%, 93%);
      text-transform: lowercase; 
    }

.panel.panel-inverse .panel-heading {
    background: #554971;
    color: hsl(0, 0%, 100%);
}
td.blanco{
  width: 300px;
  padding:2%;
}
td.blanco:hover{
  background-color: #554971;
}

.table.table-bordered>tbody>tr>td+td {
     border-left-width: 0px;
    border-left-style: solid;
}
.boton{
  color: white!important;
  margin-bottom: 1%;
  background-color: #C59FC9!important;
  border-style: none!important;
  border-bottom: none!important;
}
.boton:hover{
  color: white;
  border-bottom: none;
}
.btn.btn-success {
    background: #C59FC9!important;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn.btn-success:hover {
    background: #C59FC9!important;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .75;
}
.badge{
  margin-left: 2%;
}
#busquedaservicio ,input[type=text] {
    padding: 1em 2em;
    outline: none;
    font-weight: 600;
    border: none;
   color: #36213E;
    background: hsl(210, 5%, 93%);
}

</style>
  <body data-no-turbolink data-no-transition-cache>
     <div id="page-loader" class="page-loader fade in"><span class="spinner">Loading...</span></div> <!-- loading -->
    
  <div id="page-container" class="fade page-container page-header-fixed page-sidebar-fixed page-with-two-sidebar page-with-footer">
    <!-- begin #header -->
    <div id="header" class="header navbar navbar-default navbar-fixed-top">
      <!-- begin container-fluid -->
      <div class="container-fluid">
        <!-- begin mobile sidebar expand / collapse button -->
        <div class="navbar-header">
          <a href="/" class="navbar-brand">
                 bikina     
                    </a>
          <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!-- end mobile sidebar expand / collapse button -->
        

        <ul class="nav navbar-nav navbar-right">
          <li>
            <header class="codrops-header">
             <div class="button-wrap"><button data-dialog="somedialog" class="trigger">Necesitas un directorio vecinal?</button></div>
            </header>
            
          </li>

          <li>
            
          </li>
              <li class="dropdown navbar-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="image"><%= cl_image_tag("http://res.cloudinary.com/vianse/" + Perfil.where(:user_id => current_user.id).pluck(:photo).first, size: "40x40" ,:angle => 0) %></span>
                          <span class="hidden-xs">
                            
                            <strong><%= current_user.email %></strong></span> 
                          <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu pull-right">
                          <li><a href="/users/edit">Seguridad</a></li>
                          <li class="divider"></li>
                          <li><%= link_to 'Editar perfil', edit_perfil_path(Perfil.where(:user_id => current_user.id).pluck(:id).first), :class => 'navbar-link' %></li>
                          <li><%= link_to "Cerrar sesi贸n", destroy_user_session_path, method: :delete  %></li>
                        </ul>
              </li>
        </ul>

        <!-- end navbar-right -->
      </div>
      <!-- end container-fluid -->
    </div>
    <div id="sidebar" class="sidebar">
      <!-- begin sidebar scrollbar -->
      <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar nav -->

        <ul class="nav">
          <div id="resultado"></div>
          <li class="nav-header">Tus Directorios</li>
          <li class="has-sub active">
              <ul class="" style="padding-left: 0px;">
                  <div id="directorio"></div>         
              </ul>
          </li>
        </ul>
        <!-- end sidebar nav -->
      </div>
      <!-- end sidebar scrollbar -->
    </div>
    <!-- end #sidebar -->
    <div id="content" class="content">
              <h1 class="page-header">
                <span class="empresa"> 
          <div id="somedialog" class="dialog">
          <div class="dialog__overlay"></div>
          <div class="dialog__content">
            <h2>Necesitas un directorio vecinal?</h2>
            <p></p>
            
            <%= form_for(@grupo) do |f| %>
                <% if @grupo.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@grupo.errors.count, "error") %> prohibited this grupo from being saved:</h2>

                    <ul>
                    <% @grupo.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>

                <div class="field">
                  <%= f.label "Escribenos brevemente el nombre que quieres para tu directorio" %><br>
                  <%= f.text_field :nombre ,:required => true%>
                </div>
                <div class="field">
                  <%= f.label "Escribenos una descripci贸n breve para tu directorio" %><br>
                  <%= f.text_field :descripcion,:required => true %>
                </div>
                <div class="field">
                  <%= f.label "Ingresa el C贸digo Postal donde sera visto" %><br>
                  <%= f.text_field :cp,:required => true %>
                </div>
                <div class="field">
                  <%= f.hidden_field :user_id, :value => current_user.id %>
                </div>
                <div class="field">
                  <%= f.hidden_field :clave, :value => rand(5..100000000) %>
                </div>
                <p>En breve daramos de alta tu directorio</p>
                <div class="actions">
                  <%= f.submit "Enviar", :class=>"action" %>
                  
                </div>
              <% end %>
            <div>
          </div>
        </div>

         <div id="somedialog1" class="dialog">
          <div class="dialog__overlay"></div>
          <div class="dialog__content">
            <h2>Unirse a un directorio</h2><div><button class="action" data-dialog-close>Close</button></div>
          </div>
        </div>

                </span>
              </h1>
              <!-- end page-header -->
               <div class="panel panel-inverse">
                            <div class="panel-body">
                                <div class="row">      
                                      <a href="registros/new?clave=<%= params[:clave]%>" class="btn btn-success boton bounce">Agrega un nuevo serivcio o producto</a>

                                      <a href="unjoin?clave=<%= params[:clave]%>" class="btn btn-success boton">Ya no quiero este directorio</a>

                                        <div class="panel-heading">
                                            <h4 class="panel-title"> Directorio de servicios <%= @name %>
                                              
                                            </h4>
                                            
                                        </div>
                                        <div id="servicios" class="table-responsive"></div>

                                       <!-- <div class="table-responsive">
                                          <table class="table table-list-search table-td-valign-middle">
                                            <thead>
                                              <tr>
                                                <th></th>
                                                <th>Nombre del vecino</th>
                                                <th>Habilidades o descripci贸n</th>
                                                <th>Telefono</th>
                                                <th>Correo</th>  
                                                <th colspan="3"></th>
                                              </tr>
                                            </thead>

                                            <tbody>
                                              <% @registros.each do |registro| %>
                                                <tr>
                                                <td>
                                                  <img src= "http://res.cloudinary.com/vianse/<%=Perfil.where(:user_id => registro.user_id).pluck(:photo).first %>" alt="" className="media-object img-circle" width="40" />
                                                  <%=  %></td>
                                                  <td><%= registro.titulo %></td>
                                                  <td><%= registro.descripcion %></td>
                                                  <td><%= registro.telefono1 %></td>
                                                  <td><%= registro.correo %></td>
                                                  <td><span>Visitas <%= registro.countclicks %></span></td>
                                                  <td>
                                                    <%= link_to 'Detalles', registro %>
                                                  </td>
                                                 
                                                  <% if @usuario == registro.user_id.to_i  %>
                                                  
                                                  <td><%= link_to 'Eliminar', registro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                                                  <% else %>
                                                  
                                                  <% end %>
                                                </tr>

                                                <%= will_paginate @registros %>
                                              <% end %>
                                            </tbody>
                                          </table>
                                        </div>-->
                                    </div>
                               
                            </div>
               </div>  
               <!-- table -->
               <!-- footer -->
               <div id="footer" class="footer">
                  <span class="pull-right">
                      <a href="javascript:;" class="btn-scroll-to-top" data-click="scroll-top">
                          <i class="fa fa-arrow-up"></i> <span class="hidden-xs">Back to Top</span>
                      </a>
                  </span>
                  &copy; 2016 All Right Reserved
               </div>
    </div>
  </div>
  <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447732895/jquery-1.9.1.js"></script>
  <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447733033/jquery-migrate-1.1.0.min.js"></script>
  <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447733159/jquery-ui.min.js"></script>
  <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447733251/bootstrap.min.js"></script>
  <!--[if lt IE 9]>
    <script src="assets/crossbrowserjs/html5shiv.js"></script>
    <script src="assets/crossbrowserjs/respond.min.js"></script>
  <![endif]-->
  <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447733386/jquery.slimscroll.min.js"></script>
  <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447733489/jquery.cookie.js"></script>
  <!-- ================== END BASE JS ================== -->
  
  <!-- ================== BEGIN PAGE LEVEL JS ================== -->
  <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447733913/bootstrap_calendar.min.js"></script>
  <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447733996/jquery.sparkline.min.js"></script>
  <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447734296/jquery.gritter.js"></script>
    <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447734361/page-index.demo.js"></script>
    <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447733809/demo.js"></script>
    <script src="https://res.cloudinary.com/dnubgpeun/raw/upload/v1447732638/apps.js"></script>

  <!-- ================== END PAGE LEVEL JS ================== -->
  
  <script>
    $(document).ready(function() {
        App.init();
        Demo.init();
        //PageDemo.init();
    });
  </script>
  <script src="http://res.cloudinary.com/dnubgpeun/raw/upload/v1461709979/js/classie.js"></script>
    <script src="http://res.cloudinary.com/dnubgpeun/raw/upload/v1461709979/js/dialogFx.js"></script>
    <script>
      (function() {

        var dlgtrigger = document.querySelector( '[data-dialog]' ),
          somedialog = document.getElementById( dlgtrigger.getAttribute( 'data-dialog' ) ),
          dlg = new DialogFx( somedialog );
        dlgtrigger.addEventListener( 'click', dlg.toggle.bind(dlg) );
      })();

    </script>
     
 <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
<script src="https://rawgit.com/arqex/react-json/master/build/Json.js"></script>
<script src="//cdn.jsdelivr.net/refluxjs/0.2.11/reflux.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<script type="text/jsx">

    var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };

var CampoBusqueda = React.createClass({
 
    render: function() {
      return (  
        <input type="text" value={this.props.value} onChange={this.props.cambio} className="form-control" placeholder="Buscar directorio" id="search"/>
        
        );
      },
   

});

var CampoBusquedaServicios = React.createClass({
 
    render: function() {
      return (  
        <input type="text" value={this.props.value} onChange={this.props.cambio} className="form-control" placeholder="Cual es tu necesidad? -- busca un servicio" id="busquedaservicio"/>
        
        );
      },

});


var query = getUrlParameter('q');
var url = "api/v1/directorios?q="
var url1 = "api/v1/get_direct"
var Directorios = React.createClass({
    componentDidMount: function() {
      // $.ajax({
      //       url: url ,
      //       dataType: 'json',
      //       success: function(data) {
      //         this.setState({data: data});
      //       }.bind(this)
      // });
    
    },
    
    getInitialState: function() {
              return {
                data: [],
                value: '',
       
               
   
        }
            },
    consulta: function(evento){
          $.ajax({
              url: url + evento,
              dataType: 'json',
              success: function(data) {   
                if(data == null || data == []){
                   this.setState({data: ""});
                   
                }
                else{
                  this.setState({data: data});
                 
                }
                     
              }.bind(this)
        });
    },
    handleChange: function(event) {
  
       this.setState({value: event.target.value});
       this.consulta(event.target.value);

      },

    render: function() {   
            var subir = items
            var items = this.state.data.map(function(object){
            if (object.clave=="")
            {
               var link = "#"
             
            }
            else
            {
              var link = "/join?clave=" + object.clave
            }
              
              return <tr>
                     <td className="blanco">                  
                      <strong><a href={link} className="blanco">#{object.nombre}</a></strong>
                     </td>
                     </tr>
                     
              });

              return <div>
                <CampoBusqueda value={this.state.value} cambio={this.handleChange}/>
                
                <table>
                  <thead>
                  <tr>
                  </tr>
                  </thead>
                  <tbody>
                  {items}
                  </tbody>
                </table>
                </div>


            }
    });
    
    React.render(
          <Directorios />,
     document.getElementById('resultado')
     );


var clave = getUrlParameter('clave');
var pagina = getUrlParameter('page');
var urls = "api/v1/servicios?q="
var urla = "api/v1/servicio_all?clave="
var Servicios = React.createClass({
    componentDidMount: function() {
      $.ajax({
              url: urla + clave + "&page=" + pagina,
              dataType: 'json',
              success: function(data) {   
                  this.setState({data: data});
              }.bind(this)
        });
    
    },
    
    getInitialState: function() {
              return {
                data: [],
                value: '',
       
               
   
        }
            },
    consulta: function(evento){
          $.ajax({
              url: urls + evento + "&clave=" + clave + "&page=" + pagina,
              dataType: 'json',
              success: function(data) {   
                if(data == null || data == []){
                   this.setState({data: ""});
                   
                }
                else{
                  this.setState({data: data});
                 
                }
                     
              }.bind(this)
        });
    },
    handleChange: function(event) {
  
       this.setState({value: event.target.value});
       this.consulta(event.target.value);

      },

    render: function() {   
            var subir = items
            var items = this.state.data.map(function(object){
              var i = "http://res.cloudinary.com/vianse/" + object.img
              var h = "/registros/" + object.id +"/"+ object.titulo
              var j = "/registros/" + object.id 

               if (<%= @usuario %> == object.user_id){
                return <tr>
                        
                        <td>
                        <img src={i}   alt="" className="media-object img-circle" width="40" height="40" /></td>
                        <td><a href={h}>{object.titulo}</a></td>
                        <td>{object.descripcion}</td>
                        <td>{object.telefono1}</td>
                        <td>{object.correo}</td>
                        <td>Visitas {object.countclicks}</td>
                         <td>
                          <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href={j}>Eliminar</a>
                        </td>
                      
                     </tr>

               }
               else
               {

                return <tr>
                        <td><img src={i}   alt="" className="media-object img-circle" width="40" height="40" /></td>
                        <td><a href={h}>{object.titulo}</a></td>
                        <td>{object.descripcion}</td>
                        <td>{object.telefono1}</td>
                        <td>{object.correo}</td>
                        <td>Visitas {object.countclicks}</td>
                        

                     </tr>

               }
              
                           
              }); 

              return <div>
                <CampoBusquedaServicios value={this.state.value} cambio={this.handleChange}/>
                <table className="table table-list-search table-td-valign-middle">
                                           

                                            <tbody>
                                              
                                              {items}

                                              <%= will_paginate @registros %>
                                             
                                            </tbody>
                                          </table>

                         </div>


            }
    });
    
    React.render(
          <Servicios />,
     document.getElementById('servicios')
     );



var Misdirectorios = React.createClass({
    componentDidMount: function() {
      $.ajax({
            url: url1 ,
            dataType: 'json',
            success: function(data) {
              this.setState({data: data});
            }.bind(this)
      });
    
    },
    
    getInitialState: function() {
              return {
                data: [],
                value: ''
   
        }
            },
    handleChange: function(event) {
       this.setState({value: event.target.value.substr(0, 140)});
       $.ajax({
            url: url + this.state.value,
            dataType: 'json',
            success: function(data) {
              this.setState({data: data});
            }.bind(this)
      });
      },
    render: function() {   

            var subir = items
            var items = this.state.data.map(function(object){
              var link = "/registros?clave=" + object.clave + "&page=1"
              return <tr>
                     <td className="blanco">                  
                      <strong><a href={link} className="blanco">#{object.nombre}
                      <span className="badge badge-info">{object.conteo}</span>
                      </a></strong>
                     </td>
                     </tr>
                     
              });
                
            return <div>
                
                <table >
                  <thead>
                  <tr>
                  </tr>
                  </thead>
                  <tbody>
                  {items}
                  </tbody>
                </table>
                </div>

          }
    });
    
    React.render(
          <Misdirectorios />,
     document.getElementById('directorio')
     );

</script>

<script type="text/javascript">
$(document).ready(function() {
    var activeSystemClass = $('.list-group-item.active');

    //something is entered in search form
    $('#system-search').keyup( function() {
       var that = this;
        // affect all table rows on in systems table
        var tableBody = $('.table-list-search tbody');
        var tableRowsClass = $('.table-list-search tbody tr');
        $('.search-sf').remove();
        tableRowsClass.each( function(i, val) {
        
            //Lower text for case insensitive
            var rowText = $(val).text().toLowerCase();
            var inputText = $(that).val().toLowerCase();
            if(inputText != '')
            {
                $('.search-query-sf').remove();
                tableBody.prepend('<tr class="search-query-sf"><td colspan="6"><strong>Busqueda por: "'
                    + $(that).val()
                    + '"</strong></td></tr>');
            }
            else
            {
                $('.search-query-sf').remove();
            }

            if( rowText.indexOf( inputText ) == -1 )
            {
                //hide rows
                tableRowsClass.eq(i).hide();
                
            }
            else
            {
                $('.search-sf').remove();
                tableRowsClass.eq(i).show();
            }
        });
        //all tr elements are hidden
        if(tableRowsClass.children(':visible').length == 0)
        {
            tableBody.append('<tr class="search-sf"><td class="text-muted" colspan="6">No hay resultado para mostrar.</td></tr>');
        }
    });
});
</script>
  </body>
</html>